.saler {
  overflow: hidden;
  background: url("/sui_assets/img/saler/salerbg.png") center center no-repeat/100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .saler .saler_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem; }
    .saler .saler_top .logo {
      height: 2rem;
      width: 2rem; }
    .saler .saler_top .brand {
      height: 1.1rem;
      font-size: 16px;
      font-weight: 500;
      color: #4b4e65;
      line-height: 1.1rem;
      margin: 0.4rem; }
    .saler .saler_top .timer {
      width: 11.1rem;
      height: 1.1rem;
      border-radius: 3px;
      background-color: #c4a78a;
      text-align: center;
      line-height: 1.1rem;
      font-size: 0.6rem;
      color: #fff;
      font-weight: 500; }
    .saler .saler_top span {
      color: #1A1F43;
      font-size: 1.5rem;
      vertical-align: middle;
      text-shadow: 2px 2px 0 #C3CBF3; }
    .saler .saler_top .yuan {
      height: 1.5rem;
      vertical-align: middle; }
  .saler .saler_middle {
    text-align: center;
    margin-top: 2rem; }
    .saler .saler_middle .qrcode {
      margin-bottom: 7rem; }
      .saler .saler_middle .qrcode img {
        width: 10rem;
        height: 10rem; }
      .saler .saler_middle .qrcode div {
        font-size: 0.8rem;
        font-weight: 500;
        color: #4b4e65;
        margin-top: 2rem; }
    .saler .saler_middle .salerimg {
      width: 100%;
      margin-top: 1.5rem; }
  .saler .modal-phone {
    text-align: center;
    margin-top: 2rem; }
    .saler .modal-phone .phone {
      width: 14.75rem;
      height: 2.2rem;
      border-radius: 3px;
      border: solid 0.5px #4b4e65;
      background-color: #ebf2fe;
      padding: 0 10px;
      font-size: 0.8rem; }
    .saler .modal-phone .validate {
      width: 14.75rem;
      display: flex;
      margin: auto;
      justify-content: space-between;
      margin-top: 0.5rem; }
    .saler .modal-phone .validateCode {
      width: 7.75rem;
      height: 2.2rem;
      border-radius: 3px;
      border: solid 0.5px #4b4e65;
      background-color: #ebf2fe;
      padding: 0 10px;
      font-size: 0.8rem; }
    .saler .modal-phone .input-text {
      display: inline-block;
      width: 6.5rem;
      height: 2.2rem;
      border-radius: 3px;
      background-color: #4b4e65;
      font-size: 0.8rem;
      color: #fff;
      line-height: 2.2rem; }
  .saler .saler_bottom {
    margin-top: 1rem;
    margin-bottom: 2rem; }
    .saler .saler_bottom .v-button {
      width: 14.75rem;
      height: 2.2rem;
      border-radius: 3px;
      background-color: #4b4e65;
      margin: auto;
      font-size: 0.8rem;
      text-align: center;
      line-height: 2.2rem;
      color: #fff; }
    .saler .saler_bottom .text {
      font-size: 0.6rem;
      color: #4b4e65;
      margin: 0.5rem auto;
      width: 10rem;
      text-decoration: underline;
      text-align: center; }

/*# sourceMappingURL=saler.css.map */
